<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="x3"         
     connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=AppDb\hmmDb.mdf;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
     providerName="System.Data.SqlClient" />
    
    <add name="AioSqlDb_1st_Prod"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AppDb\hmmDb.mdf;
       Integrated Security=True;Connect Timeout=30"
       providerName="System.Data.SqlClient"/>


    <add name="AioSqlDb_1st"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\AspProject\IbneKayesh\OpenSources\HMM\HMM\AppDb\hmmDb.mdf;
       Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient"/>
    
    
  </connectionStrings>
</configuration>